.anim{
    opacity: 0;
    transform: translateY(60px);
    animation: moveup 1s ease-in 0.5s forwards;
}
@keyframes moveup {
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}
.left-right{
    opacity: 0;
    transform: translateX(-90px);
    animation: left-right 0.7s ease-in-out  forwards;
}
@keyframes left-right {
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}
.right-left{
    opacity: 0;
    transform: translateX(90px);
    animation: right-left 0.7s ease-in-out  forwards;
}

@keyframes right-left {
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}
@keyframes container7-img4 {
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}

/* Cards */

.anim-card1{
    opacity: 0;
    transform: translateY(60px);
    animation: moveup 1s ease-out 0.2s forwards;
}
.anim-card2{
    opacity: 0;
    transform: translateY(60px);
    animation: moveup 1s ease-out 0.5s forwards;
}
.anim-card3{
    opacity: 0;
    transform: translateY(60px);
    animation: moveup 1s ease-out 0.8s forwards;
}
.anim-card4{
    opacity: 0;
    transform: translateY(60px);
    animation: moveup 1s ease-out 1.1s forwards;
}
.individual-anim{
    opacity: 0;
    transform: translateY(20px);
    animation: moveup 0.5s ease-out  forwards;
}


@keyframes animate {
    0%{
      box-shadow: 0 0 0 0 rgb(255, 252, 249);
    }
    40%{
        box-shadow: 0 0 0 70px rgb(255, 193, 7, 0);
      }
      80%{
        box-shadow: 0 0 0 70px rgb(255, 193, 7, 0);
      }
      100%{
        box-shadow: 0 0 0 0 rgb(255, 193, 7, 0);
      }
}
@keyframes red {
    0%{
      box-shadow: 0 0 0 0 rgb(172, 13, 13);
    }
    40%{
        box-shadow: 0 0 0 20px rgba(223, 41, 41, 0);
      }
      80%{
        box-shadow: 0 0 0 20px rgba(214, 119, 116, 0);
      }
      100%{
        box-shadow: 0 0 0 0 rgba(236, 221, 221, 0);
      }
}
@keyframes red-450 {
    0%{
      box-shadow: 0 0 0 0 rgb(172, 13, 13);
    }
    40%{
        box-shadow: 0 0 0 10px rgba(223, 41, 41, 0);
      }
      80%{
        box-shadow: 0 0 0 20px rgba(214, 119, 116, 0);
      }
      100%{
        box-shadow: 0 0 0 0 rgba(236, 221, 221, 0);
      }
}
@keyframes green {
    0%{
      box-shadow: 0 0 0 0 rgb(17, 80, 12);
    }
    40%{
        box-shadow: 0 0 0 20px rgba(223, 41, 41, 0);
      }
      80%{
        box-shadow: 0 0 0 20px rgba(214, 119, 116, 0);
      }
      100%{
        box-shadow: 0 0 0 0 rgba(236, 221, 221, 0);
      }
}
@keyframes green-450{
    0%{
      box-shadow: 0 0 0 0 rgb(17, 80, 12);
    }
    40%{
        box-shadow: 0 0 0 10px rgba(223, 41, 41, 0);
      }
      80%{
        box-shadow: 0 0 0 20px rgba(214, 119, 116, 0);
      }
      100%{
        box-shadow: 0 0 0 0 rgba(236, 221, 221, 0);
      }
}
@keyframes yellow {
    0%{
      box-shadow: 0 0 0 0 rgb(182, 179, 13);
    }
    40%{
        box-shadow: 0 0 0 20px rgba(223, 41, 41, 0);
      }
      80%{
        box-shadow: 0 0 0 20px rgba(214, 119, 116, 0);
      }
      100%{
        box-shadow: 0 0 0 0 rgba(236, 221, 221, 0);
      }
}
@keyframes yellow-450 {
    0%{
      box-shadow: 0 0 0 0 rgb(182, 179, 13);
    }
    40%{
        box-shadow: 0 0 0 10px rgba(223, 41, 41, 0);
      }
      80%{
        box-shadow: 0 0 0 20px rgba(214, 119, 116, 0);
      }
      100%{
        box-shadow: 0 0 0 0 rgba(236, 221, 221, 0);
      }
}
@keyframes purple {
    0%{
      box-shadow: 0 0 0 0 rgb(57, 20, 158);
    }
    40%{
        box-shadow: 0 0 0 20px rgba(223, 41, 41, 0);
      }
      80%{
        box-shadow: 0 0 0 20px rgba(214, 119, 116, 0);
      }
      100%{
        box-shadow: 0 0 0 0 rgba(236, 221, 221, 0);
      }
}
@keyframes purple-450 {
    0%{
      box-shadow: 0 0 0 0 rgb(57, 20, 158);
    }
    40%{
        box-shadow: 0 0 0 10px rgba(223, 41, 41, 0);
      }
      80%{
        box-shadow: 0 0 0 20px rgba(214, 119, 116, 0);
      }
      100%{
        box-shadow: 0 0 0 0 rgba(236, 221, 221, 0);
      }
}


@keyframes zoom-in {
    0% {
        transform: scale(0.5, 0.5);
      }
      100% {
        transform: scale(1, 1);
      }
    
}

.right-left-testimonial{
    opacity: 0;
    transform: translateX(120px);
    animation: right-left 1.5s ease-out  forwards;
}

/* Container1 */
 

@keyframes circle{
    0%{
      transform:rotate(0deg)
                translate(-105px)
                rotate(0deg);
    
    }
    100%{
      transform:rotate(180deg)
                translate(-105px)
                rotate(-160deg);
    }
  }

  /* Container4 */

  .Container4-left-right{
    opacity: 0;
    transform: translateX(-90px);
    animation: left-right 1s ease-in-out 0.5s forwards;
}
.Container4-right-left{
    opacity: 0;
    transform: translateX(90px);
    animation: right-left 1s ease-in-out 0.5s forwards;
}